@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-bg {
  background-image: url('../public/images/bg-home.jpg');
  background-size: cover;
  background-position: center;
}
/* Add this to your index.css */
.navbar {
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
  color: #1a202c;
}

.navbar.scrolled .logo a {
  color: #1a202c;
}




.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out;
}
